{% extends 'backoffice.html.twig' %}

{% block title %}New BlogPost{% endblock %}

{% block page %}
    <h1>Create new BlogPost</h1>

    {{ include('blog_post/_form.html.twig') }}

    <div class="contain-button">
        <a href="{{ path('app_blog_post_index') }}">back to list</a>
    </div>
    
{% endblock %}
