{% extends 'backoffice.html.twig' %}

{% block title %}Créer une actualité{% endblock %}

{% block page %}
    <h1>Créer une actualité</h1>

    {{ include('blog_post/_form.html.twig') }}

    <div class="contain-button">
        <a href="{{ path('app_blog_post_index') }}">Retour</a>
    </div>
    
{% endblock %}
