{% extends 'backoffice.html.twig' %}

{% block title %}Nouveau Partenaire{% endblock %}

{% block page %}
    <h1>Créer un nouveau partenaire</h1>

    {{ include('partner/_form.html.twig') }}

    <div class="contain-button">
        <a href="{{ path('app_partner_index') }}">Retour</a>
    </div>
{% endblock %}
