@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
:root{
    --orange : #FF4707 ;
    --grey : #151515;
    --black : #000;
}

*, *::before, *::after { box-sizing: border-box; padding: 0; border: 0; border-radius: 0; margin: 0; background: none; text-align: inherit; text-decoration: none; font: inherit; color: inherit; list-style: none; outline: none;} input, button, select, textarea { -webkit-appearance: none; -moz-appearance: none;} a, button { overflow: visible; cursor: pointer;}

body{
    color: var(--grey);
    font-family: 'Libre Franklin', sans-serif;
    overflow-x: hidden;
}

h1,.h1{
   font: 600 40px Courier Prime;
}

h2, .h2{
    font: 600 30px Courier Prime;
}

h3, .h3{
    font: 400 25px Courier Prime;
}


p{
    font: 400 16px Libre Franklin;
    line-height: 1.3;
    text-align: left;
}

.btn{
    padding: 15px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 20px auto 0;
    border: 1px solid transparent;
}

.btn-xs{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
}

.btn-orange{
    background-color: var(--orange);
    color: #fff;
    text-transform: uppercase;
    transition: .3s;
}
.btn .text{
    font-size: 16px;
}
.btn-orange:hover{
    background-color: #fff;
    color: var(--orange)!important;
    border-color: var(--orange);
}

.btn-xs.trophy:hover{
    background-color: var(--orange);
    transform: scale(1.1);
}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 20px 40px;
    z-index: 10;
}

nav .logo{
    height: 50px;
    transition: .3s;
}

nav .logo:hover{
    transform: scale(1.1);
}

nav .menu{
    height: 80px;
    transition: .3s;
}

nav .menu:hover{
    transform: scale(1.1);
}

nav .contain-menu{
    margin-left: auto;
}

main{
    width: 100%;
    overflow-x: hidden;
}

.bg-texture{
   position: relative;
}

.bg-texture::before{
    content: "";
    background-image: url(../images/texture.jpg);
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.bg-black{
    background: var(--black);
    color: #fff;
}

.bg-movie{
    width: 100%;
    max-width: none;
    padding: 120px 0 200px;
    position: relative;
}

.bg-pelicule img{
    transform: rotate(-10deg);
    position: absolute;
    right: -5%;
    top: 0;
    z-index: 0;
}

.contain-video{
    width: 100%;
    padding: 25.56%;
    position: relative;
    height: 0;
    max-width: 100vw;
    margin-top: 0;
}

.video{
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

section{
    max-width: 1240px;
    margin: 100px auto;
    padding: 20px;
}

.contain-video + .contain-title{
    margin-top: -100px;
}

.contain-title{
    text-align: center;
    position: relative;
}

.contain-title img{
    position: absolute;
    height: 150%;
    width: 200px;
    object-fit: contain;
    top: -25%;
    left: calc( 50% - 100px);
    z-index: -1;
    opacity: .3;
}

.contain .title{
    margin-bottom: 20px;
}

.options{
    border-radius: 13px;
    padding: 10px 15px;
    border: 1px solid var(--orange);
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fff;
}

#cursor{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    z-index: 15;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transition-property: width, height, -webkit-transform;
    transition-property: width, height, -webkit-transform;
    transition-property: transform, width, height;
    transition-property: transform, width, height, -webkit-transform;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-backdrop-filter: invert(1);
    backdrop-filter: invert(1);
    border-top: 0px transparent;
}

.options > *{
    margin: 0;  
}

.options img{
    height: 20px;
    width: 20px;
    object-fit: contain;
    position: relative;
    top: 2px;
}

/* page project */

.contain-emphase{
    display: flex;
    align-items: stretch;
}

.contain-emphase .content{
    margin-left: -50px;
    padding: 40px 60px 60px 110px;
    width: calc(70% + 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contain-emphase .content .title{
    font: 300 30px Courier Prime;
    text-transform: uppercase;
    margin: 30px 0 16px;
}

.contain-emphase .content ul{
   display: flex;
   flex-wrap: wrap;
}

.contain-emphase .content li{
    padding-right: 30px;
    position: relative;
    display: flex;
    align-items: center;
}

.googleform-container{
    width: 100%;
    height: 100%;
    padding: 0;
}
      
.googleform-container iframe {
    width: 100%;
    height: 100%;
    min-height: 800px;
}

.contain-emphase .content li::before{
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    left: -18px;
}

.contain-emphase .content li:first-of-type:before{
   display: none;
}

.contain-emphase .btn{
    margin-top: 60px;
}

.contain-emphase .image{
    width: 30%;
    min-width: 250px;
    object-fit: contain;
    z-index: 2;
}

.contain{
    width: 100%;
}

.contain-xs{
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 20px;
    text-align: center;
    position: relative;
    z-index:2;
}

.bg-movie .title{
    margin-bottom: 20px;
}

.contain-text{
    width: 70%;
    max-width: 850px;
    margin-left: auto;
}

.contain-text .title{
    margin-bottom: 20px;
}

.contain-text .text{
    margin-bottom: 16px;
}

.partners{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 60px auto;
    max-width: 1000px;
}

.partners li{
    list-style-type: '-';
    padding-left: 10px;
}

.contain-partners .title{
    text-align: center;
}

.contain-films{
    text-align: center;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin: 60px auto;
}

.grid-2{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: 60px auto;
}

.grid-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin: 60px;
    align-items: center;
}

.grid-4 li{
    display: flex;
    justify-content: center;
}
 
.home-film{
    height: 330px;
    display: flex;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
}

.home-film .image-contain{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.icon{
    fill: #fff;
}

.home-film .icon:hover{
    fill: var(--orange);
}

.home-film .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.8);
    transition: .3s;
}

.home-film:hover .image{
    transform: scale(1.12);
}

.home-film .content{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
 }

.home-film .content-center{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
}
 
.home-film .content .text{
     text-transform: uppercase;
    font: 500 16px Libre Franklin;
    color: #fff;
 }

 .home-film .content .btn:hover .text{
    color: var(--orange);
 }


 /* news */

 .contain-article .title{
    margin-bottom: 20px;
 }

 .contain-article .image{
    width: 90%;
    max-height: 500px;
    margin: 60px 5%;
    object-fit: contain;
 }

.home-news{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
    border: 1px solid transparent;
    transition: .3s;
    border-radius: 16px;
    transition: .3s;
}

.home-news .btn{
    align-self: center;
}

.home-news .date{
    font: 600 16px Courier Prime;
    color:  var(--orange);
}

.home-news .title{
    font: 600 30px Courier Prime;
}


.home-news:hover{
    border: 1px solid var(--grey);
}

.news-emphase .home-news:hover{
    border: 1px solid transparent;
}

.news-emphase{
    display: flex;
    align-items: stretch;
    gap: 60px;
    grid-column-start: span 2;
    border: 1px solid transparent;
    border-radius: 16px;
    transition: .3s;
    overflow: hidden;
}

.news-emphase:hover{
    border: 1px solid var(--grey);
}

.news-emphase .image{
    width: 30%;
    min-width: 400px;
    object-fit: cover;
}

/* about */

.about-emphase{
    display: flex;
    align-items: center;
    gap: 60px;
}

.about-emphase .content{
    padding: 60px;
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 16px;
}

.about-emphase .content .title{
   margin-bottom: 30px;
}

.about-emphase .contain-image{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    gap: 20px;
}

.about-people{
    display: flex;
    align-items: center;
    padding: 60px 60px 60px 0;
    justify-content: space-evenly;
}

.about-people .presentation{
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-people .content{
    display: flex;
    width: 70%;
    margin-left: 60px;
}

.about-people .content img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.about-people .info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.about-people .info .btn{
  margin-left: 0;
}


.about-nav{
    display: flex;
    flex-direction: column;
}

.about-nav img{
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.about-nav li{
    opacity: .7;
    cursor: pointer;
    transition: .3s;
}

.about-nav li:hover{
    opacity: 1;
}

.about-nav li.active{
    opacity: 1;
}

/*contact */
.social-media{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.social-media .list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}

.social-media a svg{
    transition: .3s;
}

.social-media a:hover svg{
    transform: scale(1.2);
}

.social-media .list svg path{
    fill: var(--orange);
} 

/* contact */

.contact-maps{
    display: flex;
    align-items: center;
}

.contact-maps iframe{
    width: 65%;
}

.contact-maps .content{
    width: calc(35% + 60px);
    margin-left: -60px;
    padding: 30px 40px;
}

.contact-maps p{
    font-size: 16px;
}

.contact-maps .content > div{
    display: flex;
    align-items: center;
    margin-bottom:8px;
    gap: 20px;
}

.contact-maps .title{
    text-transform: uppercase;
}

.contact-maps .text{
    margin-left: 40px;
    margin-bottom: 40px;
}

.contact-maps .text:last-of-type{
    margin-bottom: 0;
}

.contact-maps .text a{
    transition: .3s;
}

.contact-maps .text a:hover{
    color: var(--orange);
}

.contact-maps img{
    height: 25px;
    width: 25px;
    object-fit: contain;
}

/* talent */
.form-script .title{
    margin-bottom: 40px;
}

.form-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.form-item{
    width: calc(50% - 20px);
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.form-item--100{
    width: 100%;
}

.form-item input,
.form-item textarea{
    width: 100%;
    border: 1px solid var(--grey);
    border-radius: 8px;
    background-color: #fff;
    padding: 8px 16px;
}

select{
    border: 1px solid #151515;
    padding: 8px 50px 8px 15px;
    margin-bottom: 16px;
    border-radius: 8px;
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
}

textarea{
    resize: vertical;
}

.form-item input:focus{
    border: 1px solid var(--orange);
}

footer{
    background: #151515;
    color: #fff;
}

.contain-footer{
    display: flex;
    gap: 20px;
    padding: 40px 20px 20px 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    max-width: 1200px;
    margin: auto;
}

footer li{
    margin: 5px 0;
}

footer a:hover{
    color: var(--orange);
}

.projects-carousel{
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.projects-carousel .project-item {
    z-index: 998;
    width: 50%;
    height: 0;
    padding-bottom: 28.125%;
    pointer-events: auto;
    display: none;
    position: relative;
}

.projects-carousel .project-item.selected {
    display: flex;
    justify-content: flex-end;
}

.projects-carousel .project-item iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.projects-carousel .project-item .content {
    z-index: 2;
    width: 35%;
    min-width: 330px;
    max-width: 100%;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
    position: absolute;
    right: -1px;
    top: -1px;
    height: calc(100% + 2px);
}

.projects-carousel .image {
    position: absolute;
    z-index: 999;
    pointer-events: auto;
    max-width: 10%;
    max-height: 10%;
    bottom: 15%;
}

.projects-carousel .image.prev {
    left: 7%;
}

.projects-carousel .image.next {
    right: 7%;
}

.projects-carousel .image img {
    max-width: 100%;
    max-height: 100%;
}

footer .name{
    color: #aaa;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
}

.footer{
    display: flex;
    justify-content: center;
}

.footer > *{
    margin:  10px auto 0;
}



@media screen and (max-width: 767px){

    section{
        margin: 20px;
    }

    section:first-of-type{
        margin: 100px 20px 20px;
    }

    .grid-2,
    .grid-3,
    .grid-4{
        grid-template-columns: 1fr;
        margin: 0;
    }

    .form-item{
        width: 100%;
    }

    /* contact */
    .contact-maps{
        flex-direction: column;
        gap: 20px;
    }
    
    .contact-maps iframe{
        width: 100%;
    }
    
    .contact-maps .content{
        width: 100%;
        margin-left: 0;
    }

    /*about */

    .about-emphase{
        flex-direction: column;
    }

    .about-emphase .content{
        width: 100%;
    }

    .about-people .content img{
        width: 50%;
    }

    .about-people .presentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px ;
    }

    /* Actualités */
    .news-emphase{
        flex-direction: column;
    }

    .news-emphase .image {
        width: 100%;
        margin: 0 auto;
        min-width: none;
        object-fit: cover;
    }

    .bg-movie::before{
        display: none;
    }

    .bg-movie{
        padding:0;
        margin: 0;
    }

    /* projet */
    .contain-emphase{
        flex-direction: column;
    }

    .contain-emphase .image{
        width: 100%;
    }

    .contain-emphase .content{
        width: 100%;
        margin-left: 0;
        padding: 20px;
    }

    .contain-emphase .content ul{
        flex-direction: column;
        padding-left: 20px;
    }

    .contain-emphase .content li:first-of-type::before{
        display: flex;
    }

    .contain-text{
        width: 100%;
    }
    .partners {
        grid-template-columns: 1fr 1fr;
    }
    .contain{
        width: calc(100% - 40px);
    }

    .contain-films .title{
        margin-bottom: 20px;
    }

    .contain-footer{
        flex-direction: column;
    }

    .contain-footer > div:nth-child(2){
        order: -1;
    }
    .contain-footer{
        flex-direction: column;
    }

    .contain-footer .logo{
        order: -1;
        width: 70%;
    }

    .bg-pelicule img{
        transform: rotate(-10deg);
        position: absolute;
        right: -5%;
        top: 0;
        z-index: 0;
    }

    .projects-carousel .project-item .content {
        width: 100%;
        min-width: inherit;
        position: absolute;
        top: inherit;
        bottom: -66%;
        right: inherit;
        background: none;  
    }

    .projects-carousel .project-item .content > *{
        display: none;
    }

    .projects-carousel .project-item .content > .btn{
        display: flex;
    }

    .projects-carousel .project-item {
        width: 90%;
        padding-bottom: 50.65%;
    }
}