{% extends 'backoffice.html.twig' %}

{% block title %}Modifier Film{% endblock %}

{% block page %}
    <h1>Modifier Film</h1>

    {{ include('project/_form-edit.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="contain-button">

        <a href="{{ path('app_project_index') }}">Retour</a>

        {{ include('project/_delete_form.html.twig') }}

    </div>
{% endblock %}
