{% extends 'backoffice.html.twig' %}

{% block title %}Nouveau film{% endblock %}

{% block page %}
    <h1>Ajouter un Film</h1>

    {{ include('project/_form.html.twig') }}

    <div class="contain-button">

        <a href="{{ path('app_project_index') }}">Retour</a>

    </div>
{% endblock %}
